
.HyperMD-header-1 {
  padding-bottom: 15px;
  border-bottom: 1px solid var(--base2); /* PB changed from --text-accent */
  margin-bottom: -10px;

}
.HyperMD-header-2 {
  padding-bottom: 15px;
  border-bottom: 1px solid var(--base2); /* PB changed from --text-accent */
  margin-bottom: -10px;

}

.HyperMD-header-3 {
  padding-bottom: 15px;
  border-bottom: 1px solid var(--base2); /* PB changed from --text-accent */
  margin-bottom: -10px;

}


